.theme1{
	#footer{
		@include align-items(baseline);
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		@include breakpoint($breakpoint-small-range) {
			@include align-items(stretch);
			@include flex-direction(column);
			text-align: center;
		}
		.socialLinks{
			@include breakpoint($breakpoint-small-range) {
				@include order(2);
			}
			min-width: 50%;
		}
		.menu{
			@include inline-block;
			font-family: $font-secondary;
			text-align: right;
			font-size: 1.5rem;
			min-width: 50%;

			@include breakpoint($breakpoint-small-range) {
				text-align: center;

			}
			ul{
				li{
					display: inline;
					@include breakpoint($breakpoint-small-range) {
						display: block;
					}
				}
			}
		}
	}
}