/**
*
* BREAKPOINTS
*
**/

// Defining values
$breakpoint-small-range:   (0 640px);       /* 0, 640px */
$breakpoint-medium-range:  (40.063em 64em);  /* 641px, 1024px */
$breakpoint-large-range:   (64.063em 90em);  /* 1025px, 1440px */
$breakpoint-xlarge-range:  (90.063em 120em); /* 1441px, 1920px */
$breakpoint-xxlarge-range: (120.063em);       /* 1921px */