<div id="homeLogoContainer">
	<figure id="homeLogo">
		<img src="{{theme.activeTheme.logo.layer0}}" alt="Logo de Derrick Roccka para el tema 1">
	</figure>
	<figure id="homeLogoMoreThan">
		<img src="{{theme.activeTheme.logo.layer1}}" alt="Logo de Derrick Roccka para el tema 1">
	</figure>
	<figure id="homeLogoUnderline">
		<img src="{{theme.activeTheme.logo.layer2}}" alt="Logo de Derrick Roccka para el tema 1">
	</figure>
		<figure id="homeLogoBubbles">
		<img src="{{theme.activeTheme.logo.layer3}}" alt="Logo de Derrick Roccka para el tema 1">
	</figure>
</div>